<html>
  <head>
    <meta charset="utf-8"> 
    <link href="/static/css/style_busdisplay.css" rel="stylesheet">
    <title>Bussit Leppävaarasta</title>
  </head>
<body>
<h1>Leppävaara, seuraavat lähdöt</h1>
{% for stop in stops %}
<h2> {{stop["stop_name"]}}</h2>
{% if stop["departures"] %}
<p>Linja Lähtöaika</p>
<ul>
{% for d in stop["departures"] %}
  <li> {{ '{0} {1}'.format(d["code"],d["time"])}} </li>
{% endfor %}
</ul>
{% else %}
<p>Ei lähtöjä seuraavaan tuntiin</p>
{% endif %}
{% endfor %}
<!--<h2>Kehä 1 itään</h2>
<p>Linja Lähtöaika</p>
<ul>
{% for d in departures_1e %}
  <li> {{d["code"]}} {{d["time"]}} </li>
{% endfor %}
</ul> -->
</body>
</html>
